.App {
}

.App-header {
  background: linear-gradient(to bottom,#fafafa 1%,#fafafa 80%,#f9f9f9 84%,#f8f8f8 89%,#f7f7f7 93%,#f6f6f6 97%,#f5f5f5 100%);
  font-size: calc(15px + 2vmin);
  padding: 20px;

  a {
    color: #ea222f;
    text-decoration: none;
  }
}
